# ----------------------
# Fabric specific values
# ----------------------

# Server username
user = ubuntu

# Path to the key which was used to create the EC2 instance
key_filename = /path/to/key.pem

# EC2 host to deploy to 
host_string = add.this.after.creating.ec2.server.com

# A directory to temporarily work in while deploying
build_dir = /path/to/build/dir


# -------------------
# EC2 specific values
# -------------------

# Your EC2 account key
ec2_key = ec2_key

# Your EC2 account secret
ec2_secret = ec2 secret

# The AMI to create a server from. This is from alestic.com us-east-1 
ec2_amis = ami-fd589594

# A keypair name from your EC2 account
ec2_keypair = keypair

# A comma separated list of security groups
ec2_secgroups = default

# The instance size to launch
ec2_instancetype = t1.micro


# ----------------------
# Server specific values
# ----------------------

# Server home directory
server_home_dir = /home

# Name to tag the EC2 instance with
server_tag = tag-name

# Path to uWSGI config directory. 
server_uwsgi_config_dir = /etc/uwsgi

# Path to nginx config directory
server_nginx_config_dir = /etc/nginx

# ---------------------------
# Application specific values
# ---------------------------

# An ID to use for the application. No spaces or funky characters here, please
app_id = application

# Path to git repository
app_scm_url = git@somwhere.com:application.git

# Branch to deploy from
app_scm_branch = origin/master

# App host scheme
app_host_scheme = http

# App domain
app_host_domain = application.com 

# App port
app_port = 80

# App environment: development, staging or production
app_environment = development

# Debug mode?
app_debug = True or False

# Secret key
app_secret_key = secret_key_phrase

# Comma separate list of admin emails
app_admin_emails = matt@localprojects.net,you@somehwere.com

# Log file name
app_log_file_name = main.log

# Log file level
app_log_file_level = WARN

# Log email sender
app_log_email_sender = errors@civildebatewall.com

# Log email server
app_log_email_server = 127.0.0.1

# Log email level
app_log_email_level = ERROR

# App cache type: filesystem or memcache
app_cache_type = filesystem

# App cache directory name
app_cache_dir = cache

# A comma delimited list of memcache servers or None
app_cache_memecached_servers = None

# uWSGI module
app_uwsgi_module = application

# uWSGI callable
app_uwsgi_callable = app