ENVIRONMENT = '%(app_environment)s'

# Flask
DEBUG = %(app_debug)s
SECRET_KEY = '%(app_secret_key)s'

ADMIN_EMAILS = %(app_admin_emails)s

# Logging
LOG_EMAIL_SENDER = '%(app_log_email_sender)s'
LOG_EMAIL_SERVER = '%(app_log_email_server)s'
LOG_EMAIL_LEVEL = '%(app_log_email_level)s'

LOG_FILE_NAME = '%(app_log_file_name)s'
LOG_FILE_LEVEL = '%(app_log_file_level)s'

# App 
HOST_SCHEME = '%(app_host_scheme)s'
HOST_DOMAIN = '%(app_host_domain)s'
HOST_PORT = %(app_host_port)s

# Flask-Cache
CACHE_TYPE = '%(app_cache_type)s'
CACHE_DIR = '%(app_cache_dir)s'
CACHE_MEMCACHED_SERVERS = %(app_cache_memcached_servers)s